a, ul, ol, li, col, row {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: unset;
    text-decoration: none;
    vertical-align: baseline;
    color: rgba(0, 0, 0, 0.37);
    list-style: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color:#ccc;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 0px 0px 1px 0px;
    border-bottom-style: outset;
    height: 74px;
    margin-bottom: 30px;
}

.nav-container {
    width: 960px;
    margin: 0 auto;
}

.container {
    width: 960px;
    margin: 0 auto;
}

#name {
    padding: 12px 30px 12px 30px;
    background-color: #4aaaa5;
    color: white;
    float: left;
    line-height: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

#about {
    color: #777777;
    float: right;
    font-size: 20px;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    border-width: 0px;
/*     border-right-width: 1px; */
    border-style: outset;
    margin-top: 12px;
    transition: all 0.3s;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#portfolio {
    color: #777777;
    float: right;
    font-size: 30px;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    border-width: 0px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-style: outset;
    margin-top: 12px;
    transition: all 0.3s;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#contact {
    color: #777777;
    height: 100%;
    float: right;
    font-size: 20px;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    border-width: 0px;
/*     border-left-width: 1px; */
    border-style: outset;
    margin-top: 12px;
    transition: all 0.3s;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

#about:hover, #portfolio:hover, #contact:hover {
    border-style: groove;
    font-size: 30px;
    background-color: #ffffff;
    color: #404040;
}

.article-holder {
    position: relative;
    top: 104px;
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 1px;
    border-style: groove;
    height: 710px;
}

#article-header {
    padding: 30px 0px 29px 0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    color: #4aaaa5;
    line-height: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    border-style: groove;
    border-width: 0px 0px 1px 0px;
    border-color: #dddddd;
}

.article-content {
    padding: 0px 30px 30px 30px;
}

.portfolio-1, .portfolio-2, .portfolio-3, .portfolio-4 {
    float: left;
    position: relative;
    padding: 0px 30px 30px 30px;
}

.detail-portfolio-1, .detail-portfolio-2, .detail-portfolio-3, .detail-portfolio-4 {
    position: absolute;
    width: 250px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    background-color: #4aaaa5;
    color: white;
    line-height: 50px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    transition: all 0.5s;
}

.detail-portfolio-1:hover, .detail-portfolio-2:hover, .detail-portfolio-3:hover, .detail-portfolio-4:hover {
    opacity: .9;
    font-size: 25px;
    width: 300px;
}

article {
    margin: 0px 0px 75px 0px;
}

#footer1 {
    color: white;
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    margin-top: 20px;
    background-color: #666666;
    text-align: center;
    line-height: 75px;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #4aaaa5;
}